*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}
/* .container-fluid{
    background-color: #464d47;
    color: white;
    height: 30px;
    width: 1200px;

} */
#logo{
    height: 20px;
    width: 20px;
}
img{
    height: 50px;
    width: 60px;
}
body{
    background-color: #464d47;
    
    /* min-height: 100vh; */
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center;   */
    /* overflow: hidden; */
}
.container{
    width:500px;
    /* overflow: hidden; */
    margin-left: 500px;
    
}
.text{
    position: relative;
    color: white;
    /* color: #4070f4; */
    font-size: 50px;
    font-weight: 600px;
    margin-top: 250px;
    /* margin-left: 50px; */
}
.first-text{
    color: #fff;
}
.sec-text::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: #464d47;
    border-left: 2px solid #4070f4;
    animation: animate  4s steps(12) infinite;
}
@keyframes animate{
    40%, 60% {
        left:100%;
    } 
    100%{
        left:0%;
    }
    }